<mat-card class="card">
    <div class="img__container">
        <img src="/assets/items/{{ catalogItem.imageUrl }}" alt="{{ catalogItem.name }}" class="thumbnail" />
    </div>

    <mat-card-content>
        <div class="card-content">
            <h2 class="info-price">{{ catalogItem.price | currency }}</h2>
            <span>{{ catalogItem.name }} {{ catalogItem.vendor }}</span>
        </div>
    </mat-card-content>

    <mat-card-actions align="end">
        <button mat-raised-button (click)="onAddClicked(catalogItem)" matBadge="{{itemCartQuantity(catalogItem.id) | async}}" matBadgeColor="warn" color="primary" matBadgePosition="before"><span class="material-icons">add</span>Añadir al carrito</button>
    </mat-card-actions>
</mat-card>